.certifications {
    display: flex;
    flex-direction: column;
}

.certifications ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;  
    list-style: none;
}

.certifications ul li img {
    max-width: 80px;
    margin: .5rem;
}