.academic ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;  
    list-style: none;
}

.academic li a img {
    max-width: 50px;
    margin: .5rem;
}

/* @media screen and (min-width: 765px) {

    .academic {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
} */

